# IntelliJ
*.iml
.idea
target
_tmp
tmp

# Vscode
.vscode

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Docker build
*.jar
docker/build/postgres/config/schema.sql
docker/compose/appdata

# Spring profiles
src/main/resources/application-dev.properties