<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{_base.html :: _head}">
</head>
<body>
<custom th:insert="~{_base.html :: _navbar}"></custom>

<!--Main Content Section-->
<main id="main" class="main container d-flex flex-column">

    <custom th:insert="~{_base.html :: _alert}"></custom>

    <h1 class="text-center">Password Change</h1>
    <div id="working_area" class="flex-grow-1 p-5 rounded border" style="min-height: 80vh;">

        <!--  CONTENT      -->
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form id="form_main_content" action="#" th:action="@{/profile}" th:object="${formObject}"
                      method="POST">
                    <div class="mb-3">
                        <input type="text" id="updateProfileModal_field_a1" name="username" class="form-control"
                               th:field="${formObject.organisationUuid}" readonly hidden=>
                    </div>
                    <div class="mb-3">
                        <input type="text" id="updateProfileModal_field_a2" name="username" class="form-control"
                               th:field="${formObject.uid}" readonly hidden=>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="new_password-icon">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                        <input th:field="*{newPassword}" type="password" class="form-control" id="wl-new_password"
                               name="wl-new_password"
                               placeholder="new password"
                               autocomplete="off"
                               required>
                    </div>
                    <div class="col-6 mt-4 mt-xxl-0 w-auto h-auto">
                        <div data-mdb-alert-init class="alert px-4 py-3 mb-0 d-none" role="alert"
                             data-mdb-color="warning" id="password-alert">
                            <ul class="list-unstyled mb-0">
                                <li class="requirements leng">
                                    <i id="leng-icon" class="fas"></i> 8 or more characters
                                </li>
                                <li class="requirements big-letter">
                                    <i id="big-letter-icon" class="fas"></i> 1 Uppercase Letter
                                </li>
                                <li class="requirements num">
                                    <i id="num-icon" class="fas"></i> 1 Number
                                </li>
                                <li class="requirements special-char">
                                    <i id="special-char-icon" class="fas"></i> 1 Special Character in ! @ # % & * _
                                    ? | ( ) [ ] { }
                                </li>
                            </ul>
                        </div>


                        <div class="input-group mb-3">
                        <span class="input-group-text" id="confirm_password-icon">
                           <i class="fa-solid fa-lock"></i>
                        </span>
                            <input th:field="*{confirmPassword}" type="password" class="form-control"
                                   id="wl-confirm_password"
                                   name="wl-confirm_password"
                                   placeholder="confirm password"
                                   autocomplete="off"
                                   required>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Left-aligned button -->
                            <a th:href="@{/home}" class="btn btn-outline-secondary justify-content-end">
                                <span></span> Cancel
                            </a>
                            <!-- Right-aligned button -->
                            <button id="form_main_submit_button" type="submit"
                                    class="btn btn-outline-success justify-content-end" disabled>
                            <span id="form_main_submit_spinner" class="spinner-border spinner-border-sm d-none"
                                  role="status"
                                  aria-hidden="true"></span>
                                <span id="form_main_submit_icon"><i class="fa-solid fa-floppy-disk"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>


<custom th:insert="~{_base.html :: _bootstrap_js}"></custom>
<script th:src="@{/js/pass_control.js}"></script>
</body>
</html>
