<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{_base.html :: _head}">
</head>
<body>
<custom th:insert="~{_base.html :: _navbar}"></custom>

<!--Main Content Section-->
<main id="main" class="main container d-flex flex-column">

    <custom th:insert="~{_base.html :: _alert}"></custom>

    <h1 class="text-center">Whitelisting Management</h1>
    <div id="working_area" class="flex-grow-1 p-5 rounded border" style="min-height: 80vh;">

        <!--  CONTENT      -->
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form id="form_main_content" action="#" th:action="@{/admin/whitelist}" th:object="${formObject}"
                      method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-passport"></i></span>
                        <input th:field="*{username}" type="text" class="form-control" id="wl_username"
                               name="wl_username"
                               placeholder="username" required>
                    </div>

                    <div class="input-group mb-3">
                                    <span class="input-group-text" id="name-icon"><i
                                            class="fa-solid fa-user"></i></span>
                        <input th:field="*{name}" type="text" class="form-control" id="wl_name" name="wl_name"
                               placeholder="name" required>
                    </div>

                    <div class="input-group mb-3">
                                    <span class="input-group-text" id="surname-icon"><i
                                            class="fa-solid fa-users"></i></span>
                        <input th:field="*{surname}" type="text" class="form-control" id="wl_surname" name="wl_surname"
                               placeholder="surname" required>
                    </div>

                    <div class="input-group mb-3">

                        <select class="form-select mb-4 col-4" th:field="*{customPropertyA}">
                            <option value="">select assistant</option>
                            <option th:each="enumType : ${assistantsEnumList}" th:value="${enumType}"
                                    th:text="${enumType}"></option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Left-aligned button -->
                        <a th:href="@{/admin/whitelist}" class="btn btn-outline-secondary justify-content-end">
                            <span></span> Cancel
                        </a>
                        <!-- Right-aligned button -->
                        <button id="form_main_submit_button" type="button"
                                class="btn btn-outline-success justify-content-end"
                                onclick="disableButton()">
                        <span id="form_main_submit_spinner" class="spinner-border spinner-border-sm d-none"
                              role="status"
                              aria-hidden="true"></span>
                            <span id="form_main_submit_icon"><i class="fa-solid fa-floppy-disk"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div>
</main>


<custom th:insert="~{_base.html :: _bootstrap_js}"></custom>
<script th:src="@{/js/form_control.js}"></script>
</body>
</html>
