<!DOCTYPE html>
<html lang="en"
      data-bs-theme="dark"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <head th:insert="~{_base.html :: _head}"></head>
    <link rel="stylesheet" th:href="@{/css/datatables.min.css}">
    <script th:src="@{/js/datatables.min.js}"></script>
</head>
<body>
<custom th:insert="~{_base.html :: _navbar}"></custom>


<!--Main Content Section-->
<main id="main" class="main container d-flex flex-column">

    <custom th:insert="~{_base.html :: _alert}"></custom>

    <h1 class="text-center">Users Management</h1>
    <div id="working_area" class="flex-grow-1 p-5 rounded border" style="min-height: 80vh;">

        <!--  CONTENT      -->
        <div class="d-flex justify-content-end mb-3" sec:authorize="hasAnyRole('ADMIN')">
            <a th:href="@{/admin/whitelist/add}" class="btn btn-sm btn-outline-secondary disabled">Add</a>
        </div>

        <div class="table-responsive">

            <table class="table table-striped" id="table">
                <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Organisation</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Disabled</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${recordList}">
                    <td>
                        <a id="user_delete" sec:authorize="hasAnyRole('ADMIN','ORG_ADMIN')"
                           href="#" class="btn btn-outline-danger btn-sm"
                           th:attr="field-data=${item.uid}" onclick="showConfirmationModal(this)"
                           data-bs-toggle="tooltip"
                           data-bs-delay="50"
                           data-bs-placement="top"
                           title="Delete User">
                            <i class="fas fa-ban"></i>
                        </a>
                        <a th:href="@{/admin/users/update(username=${item.username})}"
                           class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-pencil"></i></a>
                    </td>
                    <td th:text="${item.organisationName}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.surname}"></td>
                    <td th:text="${item.username}"></td>
                    <td th:text="${item.roles}"></td>
                    <td th:text="${item.disabled}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</main>


<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="deleteLink" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


<custom th:insert="~{_base.html :: _bootstrap_js}"></custom>
<script th:src="@{/js/pages/user_list.js}"></script>
</body>
</html>
